body {
    --color-hyperlink: #fe77aa;
    --color-hyperlink-hover: #ff9fcf;

    
    color: #efefef;
    background-color: #484749;
    background-image: radial-gradient(circle at 1px 1px,#4c4c4c 1px, transparent 0);
    background-size: 50px 50px;
    
    font-family: "Helvetica";
    a {
        color: var(--color-hyperlink);
        text-decoration: none;
    }
    a:hover {
        color: var(--color-hyperlink-hover);
    }

    .main-block {
        text-align: center;
        margin: auto;
        width: 50%;
        margin-top: 5px;

    }
    .github-profile {
        border-radius: 50%;
        transform: translate3d(
            -5%, 20%, 0px
        );
    }



    @keyframes float {
        0%, 100%  { transform: translateY(0px); }
        50%  { transform: translateY(10px); }
    }
    
    .altar-image {
        user-select: none;    
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    
        .altar-asset {
            transform: translateY(30%);
            animation: float 2s linear infinite alternate;
        }
    }
    .footer {
        color: #ffffff;
        background-image: url("assets/bedrock.png");
        background-color: #1d1c1e;
        position:fixed;
        bottom: -32px;
        left: -50%;
        height: 64px;
        z-index: 10;
        width: 200%;

        box-shadow: inset 0 0 2px 2px #ffffff57, 0 0 2vh #000000cc;

        .footer-content {
            height: 5%;
            width:100%;
            text-align:center;
        }
    }
}