body {
    color: #efefef;
    background-color: #2d2c2e;
    background-image: radial-gradient(circle at 1px 1px,#4c4c4c 1px, transparent 0);
    background-size: 50px 50px;
    
    font-family: "Roboto";


    a {
        color: #fe77aa;
        text-decoration: none;
    }

    .main-block {
        text-align: center;
        margin: auto;
        width: 50%;
        padding-top: 5px;

    }
    .github-profile {
        border-radius: 50%;
        transform: translate3d(
            -5%, 20%, 0px
        );
    }

    .bg-music {
        padding-top: 5%;
    }
    .footer {
        color: #4e4e4e;
        background-color: #1d1c1e;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 5%;
        z-index: 10;
        width: 100%;

        .footer-content {
            margin-left: 15px;
            margin-top: 10px;
            text-align: center;
        }
    }
}